<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/todc-bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body data-room-id="<%= roomId %>">
    <div class="main">
      <div class="left-section">
        <div class="slide-window"></div>
        <div>
          <div class="clock"><iframe src="http://free.timeanddate.com/clock/i3nnv4bw/n241/fn13/fc333/tceee/pc000/pa5" frameborder="0" width="91" height="26"></iframe>
          </div>
          <button class="btn btn-warning over-btn" type="button">結束上課</button>
          <button class="btn btn-info project-btn" type="button">產生投影視窗</button>
          <button class="add-question btn btn-info project-btn" type="button">AddQuestion</button>
        </div>
      </div>
      <div class="right-section">
        <div class='for-student'>
          <div class="subtitle">學生URL連結:</div>
          <div class="student-url">
            <%= studentUrl %>
          </div>
        </div>
        <div class="subtitle">問題列</div>
        <div class="ihq-question-queue scrollable">
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/javascripts/dependencies.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/socket.js"></script>
    <script type="text/javascript" src="/javascripts/questions.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard.js"></script>
  </body>
</html>
