<!DOCTYPE html>
<html>
  <head>
    <title>我有問題</title>
    <link rel='stylesheet' href='/stylesheets/todc-bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/create">
      <div class="row">
        <h1>我有問題 iHaveQuestion</h1>
        <div class="section">
            <legend>1. 請輸入HTML Slide網址</legend>
            <input type="text" name="url" placeholder="輸入HTML Slide網址">
        </div>
        <div class="section">
          <legend>2. 複製下面 HTML 標記到 <code>&lt;/body&gt;</code> 前</legend>
          <pre class="script">
&lt;script type="text/javascript"
 src="<%= embedUrl %>"&gt;&lt;/script&gt;
          </pre>
        </div>
        <button class="btn btn-info start" type="submit">開始上課</button>
      </div>
    </form>
    <script type="text/javascript" src="/javascripts/dependencies.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </body>
</html>