body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.section{
	margin-bottom: 30px;
	padding-top: 20px;
}
input{

}

.btn{
	margin-top: 10px;
}

.start{
	width:200px;
	height: 50px;
	margin-top: 10px;
	font-size: 22px;
}
.row{
	width:600px;
	margin-left: auto;
	margin-right: auto;
}
.script{
	margin: 0;
	width: 500px;
	background: rgba(211,211,211,0.3);
	width: 100%;
}
legend{
	margin-bottom: 5px;
}
input{
	width: 100%;
}

.ihq-question-queue{
	width:302px;
	height: 404px;
	/*margin-top: 20px;*/
	margin-bottom: 20px;
	/*height: 100%;*/
	/*float: right;*/
	overflow-y: auto;
	overflow-x: hidden;
}

.slide-window{
	width: 800px;
	height: 600px;
	/*border: 1px solid black;*/
	box-shadow: 0px 1px 3px rgba(0,0,0,0.7);
}

.for-student{
	width:100%;
	/*height: 100px;*/
}
.subtitle{
  font-size: 17px;
  margin-bottom: 4px;
  margin-top: 10px;
}
.student-url{
	background: rgba(226, 246, 255, 0.8);
  width:260px;
  padding: 10px;
  height: 100px;
}

.one-question{
	width: 290px;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
.content{
	border: 1px solid rgba(211,211,211,1);
	width: 240px;
	min-height: 50px;
  background: rgb(255,255,255);
}
.content:hover{
	background: rgba(226, 246, 255, 0.8);
}
.plus, .delete,.content{
	display: inline-block;
}

.plus, .delete{
	width: 35px;
	height: 35px;
	margin-left: 2px;
	vertical-align: top;
	background: rgba(255, 179, 179, 0.5);
	/*display: none;*/
}

.clock{
	margin-top: 10px;
}
.clock, .project-window{
	display: inline-block;
}
.project-btn, .over-btn{
	float: right;
	right: 10px;
  margin-left: 5px; 
}
.left-section, .right-section{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-left: 30px;
}
.left-section{
	width:800px;
}

.right-section{
	position: relative;
	height: 638px;
	width: 280px;
}

.over-ihq-btn{
	position: absolute;
	margin-top: 30px;
	bottom: 0px;
	left: 0px;
}

.main{
  width:1207px;
  margin-left: auto;
  margin-right: auto;
}

/* Client */

.ihq-tool-box{
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	right:0px;
	height:100%;
	width:150px;
	top:0px;
}
.ihq-tool-box .content{
  width: 116px;
}
.ihq-tool-box .ihq-question-queue{
  width: 150px;
  height: 100%;
  font-size: 14px;
}
.ihq-tool-box .plus{
  width:25px;
  height: 25px;
}

.ihq-enter-question{
  font-size: 14px;
  margin: 4px;
  margin-top: 7px;
}

.ihq-popup-window{
  border-radius: 3px;
  background: rgba(211, 234, 255, 1);
  width: 174px;
  height: 108px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.8);
  padding: 6px;
}
.ihq-popup-window input{
  width: 130px;
  margin-left: 10px;
}

.ihq-popup-window button{
  font-size: 14px;
}

.repeat-btn,.question-text{
  margin-bottom: 7px;
}


/* Boostrap custom*/

.ihq-btn {
  position: relative;
  padding: 4px 12px;
  margin: 0;
  color: #333;
  
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  cursor: default;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ihq-btn:hover {
  box-shadow: 0 1px 2px black;
  color: black;
  /*text-shadow: none;*/
  border-color: #c6c6c6;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff1f1f1', GradientType=0);
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.ihq-btn.active,
.ihq-btn:active {
  background-image: none;
  outline: 0;
  background: #e8e8e8;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: linear-gradient(to bottom, #f6f6f6, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff1f1f1', GradientType=0);
}
.ihq-btn.disabled,
.ihq-btn.disabled:hover,
.ihq-btn.disabled:active,
.ihq-btn.disabled.active,
.ihq-btn.disabled:focus,
.ihq-btn[disabled],
.ihq-btn[disabled]:hover,
.ihq-btn[disabled]:active,
.ihq-btn[disabled].active,
.ihq-btn[disabled]:focus {
  border: 1px solid #dcdcdc;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.ihq-btn:focus {
  /* Blue border on button focus. */

  border-color: #4d90fe;
  outline-style: none;
  background-color: #f3f3f3;
}

.ihq-btn-warning, .ihq-btn-info{
  border: 1px solid #faa328;
  color: #ffffff;
  background-color: #fbb046;
  background-image: -moz-linear-gradient(top, #fbb450, #faa937);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#faa937));
  background-image: -webkit-linear-gradient(top, #fbb450, #faa937);
  background-image: -o-linear-gradient(top, #fbb450, #faa937);
  background-image: linear-gradient(to bottom, #fbb450, #faa937);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fffaa937', GradientType=0);
  *background-color: #fbb450;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.ihq-btn-warning:hover,
.ihq-btn-warning:active,
.ihq-btn-warning.active,
.ihq-btn-warning:focus,
.ihq-btn-info:hover,
.ihq-btn-info:active,
.ihq-btn-info.active,
.ihq-btn-info:focus {
  border: 1px solid #f9980f;
  color: #ffffff;
  background-color: #faac3c;
  background-image: -moz-linear-gradient(top, #fbb450, #fa9f1e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#fa9f1e));
  background-image: -webkit-linear-gradient(top, #fbb450, #fa9f1e);
  background-image: -o-linear-gradient(top, #fbb450, #fa9f1e);
  background-image: linear-gradient(to bottom, #fbb450, #fa9f1e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fffa9f1e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #fa9f1e;
  background-color: #fa9f1e \9;
}
.ihq-btn-warning:active,
.ihq-btn-warning.active {
  border: 1px solid #e98b06;
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.ihq-btn-warning:focus {
  border: 1px solid #faa328;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 0 1px #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
}
.ihq-btn-warning.disabled,
.ihq-btn-warning[disabled],
.ihq-btn-warning.disabled:hover,
.ihq-btn-warning[disabled]:hover,
.ihq-btn-warning.disabled:active,
.ihq-btn-warning[disabled]:active,
.ihq-btn-warning.disabled:focus,
.ihq-btn-warning[disabled]:focus {
  border: 1px solid #faa328;
  background-color: #fbb046;
  background-image: -moz-linear-gradient(top, #fbb450, #faa937);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#faa937));
  background-image: -webkit-linear-gradient(top, #fbb450, #faa937);
  background-image: -o-linear-gradient(top, #fbb450, #faa937);
  background-image: linear-gradient(to bottom, #fbb450, #faa937);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fffaa937', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #fbb450;
  background-color: #fbb450 \9;
}

.ihq-btn-info {
  border: 1px solid #46b8da;
  color: #ffffff;
  background-color: #5bc0de;
  background-image: -moz-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -o-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: linear-gradient(to bottom, #5bc0de, #5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff5bc0de', GradientType=0);
  *background-color: #5bc0de;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.ihq-btn-info:hover,
.ihq-btn-info:active,
.ihq-btn-info.active,
.ihq-btn-info:focus {
  border: 1px solid #31b0d5;
  color: #ffffff;
  background-color: #53bddc;
  background-image: -moz-linear-gradient(top, #5bc0de, #46b8da);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#46b8da));
  background-image: -webkit-linear-gradient(top, #5bc0de, #46b8da);
  background-image: -o-linear-gradient(top, #5bc0de, #46b8da);
  background-image: linear-gradient(to bottom, #5bc0de, #46b8da);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff46b8da', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #46b8da;
  background-color: #46b8da \9;
}
.ihq-btn-info:active,
.ihq-btn-info.active {
  border: 1px solid #28a1c5;
  background-color: #4ab9db;
  background-image: -moz-linear-gradient(top, #5bc0de, #31b0d5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#31b0d5));
  background-image: -webkit-linear-gradient(top, #5bc0de, #31b0d5);
  background-image: -o-linear-gradient(top, #5bc0de, #31b0d5);
  background-image: linear-gradient(to bottom, #5bc0de, #31b0d5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.ihq-btn-info:focus {
  border: 1px solid #46b8da;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 0 1px #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
}
.ihq-btn-info.disabled,
.ihq-btn-info[disabled],
.ihq-btn-info.disabled:hover,
.ihq-btn-info[disabled]:hover,
.ihq-btn-info.disabled:active,
.ihq-btn-info[disabled]:active,
.ihq-btn-info.disabled:focus,
.ihq-btn-info[disabled]:focus {
  border: 1px solid #46b8da;
  background-image: -moz-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -o-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: linear-gradient(to bottom, #5bc0de, #5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff5bc0de', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #5bc0de;
  background-color: #5bc0de \9;
}

.add-question{
  margin:10px 10px; 
  /*margin-left: auto;*/
  /*margin-right./: auto;*/
}

.add-question:hover {
  box-shadow: 0 1px 2px rgb(88,88,88);
}